:root {
  --color-default: #212529;
  --color-primary: hsl(0, 84%, 44%);
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --color-light-grey: #eee;
  --color-white: hsl(0, 0%, 100%);
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --margin-top: 3.125rem;
}

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-default);
  color: var(--color-default);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
.container {
  margin-inline: auto;
  width: 70%;
  padding: 2.5rem 0.3125rem;
  margin-top: var(--margin-top);
}
/* nav bar  */
.nav {
  width: 100%;
  position: fixed;
  background-color: var(--color-white);
  box-shadow: 0rem 0rem 0.875rem 0rem #0000001b;
  z-index: 9999;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.563rem 0.313rem;
  --margin-top: 0;
}
.logo h1 a {
  color: var(--color-default);
  font-size: 1.875rem;
}
.logo h1 a span {
  color: var(--color-primary);
}
.links ul {
  display: flex;
  gap: 2.188rem;
}
.links ul li a {
  color: var(--color-tertiary);
  font-family: var(--font-default);
  font-size: 1.063rem;
  font-weight: 600;
  position: relative;
  transition: all .5s;
}
.links ul li a:hover{
  color: var(--color-default);
}
.links ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  height: 0.125rem;
  width: 0%;
  left: 0;
  bottom: -0.625rem;
  transition: 0.4s;
  transition: all .5s;
}
.links ul li a:hover::after{
  width: 100%;
}
body:not(body:has(:target)) li a[href="#home"],
body:has(.hero:target) li a[href="#home"],
body:has(.contact:target) li a[href="#contact"],
body:has(.gallery:target) li a[href="#gallery"],
body:has(.chefs:target) li a[href="#chefs"] {
  color: var(--color-default);
}

body:not(body:has(:target)) li a[href="#home"]::after,
body:has(.hero:target) li a[href="#home"]::after,
body:has(.contact:target) li a[href="#contact"]::after,
body:has(.gallery:target) li a[href="#gallery"]::after,
body:has(.chefs:target) li a[href="#chefs"]::after {
  width: 100%;
}

.themeSwitch {
  font-size: 1.563rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#theme-toggle {
  display: none;
}
.theme-icon {
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.theme-icon::before {
  content: "\f186";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
#theme-toggle:checked + .theme-icon::before {
  content: "\f185";
}
.nav .menu {
  display: none;
}
/* hero section */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--color-light-grey);
  justify-content: center;
}
.hero .container {
  display: flex;
  align-items: center;
  z-index: 1;
}
.hero .container .img {
  width: 40%;
}
.hero .container .img img {
  filter: drop-shadow(4px 4px 9px #000a);
}
.hero .info {
  width: 60%;
}
.hero .container .img img {
  width: 100%;
}
.hero .info h2 {
  font-family: var(--font-primary);
  font-size: 4.063rem;
  font-weight: 700;
}
.hero .info p {
  margin: 1.563rem 0rem;
}
.hero .btns {
  display: flex;
  gap: 3.125rem;
}
.hero .btns .bookBt {
  color: var(--color-light-grey);
  font-size: 0.938rem;
  font-weight: 400;
  padding: 0.938rem 1.563rem;
  background-color: var(--color-primary);
  border-radius: 0px 100vh 100vh;
  transition: 0.4s;
}
.hero .btns .bookBt:hover {
  background-color: hsl(0, 89%, 48%);
}
.hero .btns .watchBt {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  color: var(--color-default);
  font-weight: 600;
  transition: 0.4s;
}
.hero .btns .watchBt:hover {
  color: var(--color-primary);
}
.hero .btns .watchBt .icon {
  background-color: var(--color-white);
  padding: 0.938rem 1.063rem;
  border-radius: 50%;
  position: relative;
}
.hero .btns .watchBt .icon::before {
  content: "";
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0 50%,
    transparent 50% 100%
  );
  width: 130%;
  height: 130%;
  border-radius: 50% 0% 0% 50%;
  position: absolute;
  top: -15%;
  left: -15%;
  z-index: -1;
}
.hero .img:hover {
  animation: shake 0.4s infinite;
}

/* hero image animation  */
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
}

/* chefs section */
.chefs,
.contact,
.footer {
  overflow: hidden;
  background-color: var(--color-white);
}
.chefs .container,
.gallery .container,
.contact .container {
  margin-bottom: 2.7rem;
  margin-top: 2.7rem;
}
.chefs .titles,
.gallery .titles,
.contact .titles {
  text-align: center;
  margin-bottom: 3.125rem;
  text-transform: uppercase;
}
.chefs .titles h4,
.gallery .titles h4,
.contact .titles h4 {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-tertiary);
}
.chefs .titles h2,
.gallery .titles h2,
.contact .titles h2 {
  font-family: var(--font-primary);
  font-size: 3.125rem;
  font-weight: 400;
  color: var(--color-default);
}
.chefs .titles h2 span,
.gallery .titles h2 span,
.contact .container h2 span {
  color: var(--color-primary);
}
.chefs .cards {
  display: flex;
  gap: 1.875rem;
}
.chefs .cards .card {
  width: 33%;
  text-align: center;
  border-radius: 0.7rem;
  background-color: var(--color-white);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}
.chefs .cards .card .card-info {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}
.chefs .cards .card .img {
  position: relative;
  width: 100%;
}
.chefs .cards .card .img::after {
  content: "";
  background-image: url(../images/team-shape.svg);
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.chefs .cards .card .img img {
  width: 100%;
  border-radius: 0.7rem;
}
.chefs .cards .card h3 {
  font-size: 1.188rem;
  font-weight: 700;
  font-family: var(--font-secondary);
}
.chefs .cards .card h4 {
  font-size: 0.875rem;
  color: var(--color-tertiary);
  margin: 0.625rem 0rem;
  font-weight: 400;
}
.chefs .cards .card p {
  font-size: 1rem;
  font-style: italic;
  color: var(--color-tertiary);
}
.chefs .cards .card .social {
  background-color: #ffffff4d;
  width: fit-content;
  border-radius: 0.25rem;
  position: absolute;
  top: 2rem;
  right: -3rem;
  padding: 0.5rem;
  transition: all 0.4s 0.4s;
}
.chefs .cards .card:hover .social {
  right: 1rem;
}
.chefs .cards .card:hover {
  transform: scale(1.1);
}
.chefs .cards .card .social a i:hover {
  color: #37373fe6;
}
.chefs .cards .card .social a i {
  color: #37373f66;
  font-size: 1.3rem;
  padding: 0.7rem 0.25rem;
  display: block;
  transition: color 0.3s;
}

/* gallery section  */
.gallery {
  background-color: var(--color-light-grey);
  overflow: hidden;
}
.gallery .imgs {
  display: flex;
  gap: 1rem;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gallery .imgs .img {
  border: 4px solid white;
  position: relative;
  overflow: hidden;
}
.gallery .imgs .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
.gallery .imgs .img .info {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  transition: top 0.4s;
}
.gallery .imgs .img .info h2 {
  padding: 0.5rem;
}
.gallery .imgs .img:hover .info {
  top: 0;
}
.gallery .imgs .img:hover img {
  transform: scale(1.2);
}

/* contact section  */
.contact iframe {
  width: 100%;
  height: 20rem;
}
.contact .info {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.contact .info .card {
  background-color: hsl(0, 0%, 95%);
  width: calc(calc(100% - 1rem) / 2);
  padding: 1.5rem;
  display: flex;
  align-items: center;
}
.contact .info .card .icon {
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: white;
}
.contact .info .card .content {
  padding-left: 1rem;
}
.contact .info .card .content h2 {
  color: var(--color-tertiary);
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
.contact .info .card .content p span {
  font-weight: bold;
}
.contact .form {
  background-color: var(--color-light-grey);
  box-shadow: 0 0 1.875rem #00000014;
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact .form input,
.form textarea {
  padding: 1.25rem;
  border: 2px solid var(--color-light-grey);
}
.contact .form textarea {
  height: 10rem;
}
.contact .form .halfs {
  display: flex;
  gap: 1rem;
}
.contact .form .halfs input {
  width: 50%;
}
.contact .form .btn {
  width: fit-content;
  padding: 1rem 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5rem;
  margin-top: 1.5rem;
  align-self: center;
}

/* footer section */
.footer {
  background-image: linear-gradient(#0009, #0009),
    url(../images/textured-metal-background.jpg);
  color: white;
}
.footer .container {
  display: flex;
  gap: 1.5rem;
}
.footer .about {
  width: 25%;
}
.footer .container .info .logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer .container .info p {
  margin: 1rem 0rem;
}
.footer .container .info .logo img {
  width: 10%;
}
.footer .container .info .logo h2 {
  text-transform: capitalize;
  font-size: 2rem;
}
.footer .container .info .logo span {
  color: var(--color-primary);
}
.footer .social h3 {
  text-align: center;
  padding: 0.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.473);
}
.footer .social ul {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  font-size: 1.8rem;
  padding: 1rem;
}

.footer .news {
  width: 50%;
}
.footer .news .letter {
  margin-bottom: 1.4rem;
}
.footer .news p {
  margin: 1rem 0rem;
}
.footer .news input {
  padding: 1rem;
  width: 75%;
  border: none;
}
.footer .news button i {
  padding-right: 0.4rem;
}
.footer .news button {
  border: none;
  background-color: var(--color-primary);
  padding: 1rem;
  color: white;
  font-size: 1rem;
  width: 24%;
}
.footer .footer-links h3 {
  margin-bottom: 1rem;
}
.footer .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: center;
}
.footer .footer-links ul li {
  width: calc(calc(100% - 1rem) / 2);
  padding: 0.5rem;
  align-items: center;
  transition: all 0.4s;
}
.footer .footer-links ul li::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 0.5rem;
}
.footer .footer-links ul li:hover {
  transform: translateX(0.7rem);
  background-color: #222;
}
.footer .footer-links ul li a {
  color: white;
  text-transform: capitalize;
  font-weight: 400;
}
.footer .footer-contact h3 {
  margin-bottom: 0.5rem;
}
.footer .footer-contact ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer .footer-contact i {
  color: var(--color-primary);
  font-size: 1.4rem;
  padding: 1rem;
  width: 10%;
}
@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
  .nav .links {
    display: none;
  }
  .nav .menu {
    display: block;
  }
  .hero .img {
    order: 1;
  }
  .hero .left {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
  }
  .hero .container {
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
  }
  .hero {
    height: auto;
  }
  .hero .info {
    width: 95%;
  }
  .hero .btns .bookBt {
    border-radius: 100vh;
  }
  .chefs .cards {
    flex-direction: column;
  }
  .gallery .imgs {
    flex-direction: column;
  }
  .contact .info {
    flex-direction: column;
  }
  .footer .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
  .hero .btns .bookBt {
    border-radius: 100vh;
  }
  .chefs .cards {
    flex-wrap: wrap;
  }
  .chefs .cards .card {
    width: calc(calc(100% - 1.875rem) / 2) !important;
  }
  .gallery .imgs {
    flex-wrap: wrap;
  }
  .column {
    width: calc(calc(100% - 1rem) / 2);
  }
  .contact .info .card {
    width: calc(calc(100% - 1rem) / 2) !important;
  }
  .contact .form .halfs {
    flex-wrap: wrap;
  }
  .contact .form .halfs input {
    width: 100%;
  }
  .footer .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }
  .contact .info .card {
    width: calc(calc(100% - 1rem) / 2) !important;
  }
  .footer .social ul {
    gap: 2rem;
  }
  .footer .social {
    width: fit-content;
  }
  .footer .news button {
    padding: 0.8rem 0.5rem;
  }
}
@media screen and (width>1200px) { 
  .contact .info .card {
    width: calc(calc(100% - 1rem) / 2) !important;
  }
}
